@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Slabo+27px&display=swap');

body {
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

.scrollVisible::-webkit-scrollbar {
    width: 10px;
    margin-left: 5px;
}

.scrollVisible::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 0.5s linear;
}

.scrollVisible:hover::-webkit-scrollbar-thumb {
    background-color: #7ecbf8;
}

.heading {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.removeCard {
    opacity: 0 !important;
    position: absolute !important;
    top: 1234px;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-switch .ant-switch-inner .ant-switch-inner-unchecked {
    margin-top: -22px;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-switch .ant-switch-inner .ant-switch-inner-checked {
    margin-top: 2px;
}

.dark :where(.css-dev-only-do-not-override-ed5zg0).ant-input-group>.ant-input:first-child,
:where(.css-dev-only-do-not-override-ed5zg0).ant-input-group .ant-input-group-addon:first-child {
    background: #1B1B1B;
    color: white;
}

.dark ::placeholder {
    color: white !important;
}

.dark:where(.css-dev-only-do-not-override-ed5zg0).ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button {
    background: #1B1B1B;
    color: white;
}

@media (min-width: 301px) and (max-width: 567px) {
    .heading {
        font-family: 'Dancing Script', cursive;
    }

    .logo {
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
    }
}