@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Slabo+27px&display=swap');

body {
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

html {
    touch-action: manipulation;
    zoom: reset;
}

:root {
    --ti-cursor-color: #ECE9E6;
}

.scrollVisible::-webkit-scrollbar {
    width: 10px;
    margin-left: 5px;
}

.scrollVisible::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 0.5s linear;
}

.scrollVisible:hover::-webkit-scrollbar-thumb {
    background-color: #7ecbf8;
}

.heading {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.removeCard {
    opacity: 0 !important;
    position: absolute !important;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-switch .ant-switch-inner .ant-switch-inner-unchecked {
    margin-top: -22px;
}

:where(.css-dev-only-do-not-override-ed5zg0).ant-switch .ant-switch-inner .ant-switch-inner-checked {
    margin-top: 2px;
}

.dark :where(.css-dev-only-do-not-override-ed5zg0).ant-input-group>.ant-input:first-child,
:where(.css-dev-only-do-not-override-ed5zg0).ant-input-group .ant-input-group-addon:first-child {
    background: #1B1B1B;
    color: white;
}

.dark ::placeholder {
    color: white !important;
}

.dark:where(.css-dev-only-do-not-override-ed5zg0).ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
    background: #1B1B1B;
    color: white;
}

/* Loader */
.socket {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
    z-index: 999;
}

.hex-brick {
    background: #000000;
    width: 30px;
    height: 17px;
    position: absolute;
    top: 5px;
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.h2 {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.h3 {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}

.gel {
    height: 30px;
    width: 30px;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
    top: 50%;
    left: 50%;
}

.center-gel {
    margin-left: -15px;
    margin-top: -15px;
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.c1 {
    margin-left: -47px;
    margin-top: -15px;
}

.c2 {
    margin-left: -31px;
    margin-top: -43px;
}

.c3 {
    margin-left: 1px;
    margin-top: -43px;
}

.c4 {
    margin-left: 17px;
    margin-top: -15px;
}

.c5 {
    margin-left: -31px;
    margin-top: 13px;
}

.c6 {
    margin-left: 1px;
    margin-top: 13px;
}

.c7 {
    margin-left: -63px;
    margin-top: -43px;
}

.c8 {
    margin-left: 33px;
    margin-top: -43px;
}

.c9 {
    margin-left: -15px;
    margin-top: 41px;
}

.c10 {
    margin-left: -63px;
    margin-top: 13px;
}

.c11 {
    margin-left: 33px;
    margin-top: 13px;
}

.c12 {
    margin-left: -15px;
    margin-top: -71px;
}

.c13 {
    margin-left: -47px;
    margin-top: -71px;
}

.c14 {
    margin-left: 17px;
    margin-top: -71px;
}

.c15 {
    margin-left: -47px;
    margin-top: 41px;
}

.c16 {
    margin-left: 17px;
    margin-top: 41px;
}

.c17 {
    margin-left: -79px;
    margin-top: -15px;
}

.c18 {
    margin-left: 49px;
    margin-top: -15px;
}

.c19 {
    margin-left: -63px;
    margin-top: -99px;
}

.c20 {
    margin-left: 33px;
    margin-top: -99px;
}

.c21 {
    margin-left: 1px;
    margin-top: -99px;
}

.c22 {
    margin-left: -31px;
    margin-top: -99px;
}

.c23 {
    margin-left: -63px;
    margin-top: 69px;
}

.c24 {
    margin-left: 33px;
    margin-top: 69px;
}

.c25 {
    margin-left: 1px;
    margin-top: 69px;
}

.c26 {
    margin-left: -31px;
    margin-top: 69px;
}

.c27 {
    margin-left: -79px;
    margin-top: -15px;
}

.c28 {
    margin-left: -95px;
    margin-top: -43px;
}

.c29 {
    margin-left: -95px;
    margin-top: 13px;
}

.c30 {
    margin-left: 49px;
    margin-top: 41px;
}

.c31 {
    margin-left: -79px;
    margin-top: -71px;
}

.c32 {
    margin-left: -111px;
    margin-top: -15px;
}

.c33 {
    margin-left: 65px;
    margin-top: -43px;
}

.c34 {
    margin-left: 65px;
    margin-top: 13px;
}

.c35 {
    margin-left: -79px;
    margin-top: 41px;
}

.c36 {
    margin-left: 49px;
    margin-top: -71px;
}

.c37 {
    margin-left: 81px;
    margin-top: -15px;
}

.r1 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
}

.r2 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
}

.r3 {
    animation-name: pulse00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: pulse00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
}

.r1>.hex-brick {
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
}

.r2>.hex-brick {
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
}

.r3>.hex-brick {
    animation-name: fade00;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: fade00;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
}

@keyframes pulse00 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes fade00 {
    0% {
        background: #252525;
    }

    50% {
        background: #000000;
    }

    100% {
        background: #353535;
    }
}

/* Loader ends */

/* Search Box */

.searchBx {
    outline: none;
    background: none;
}

/* Search Box ends */

.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
}

.spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
}

.spinner::after {
    margin: 8.9px;
}

@keyframes spinner-e04l1k {
    100% {
        transform: rotate(1turn);
    }
}

.loadingText {
    display: inline-block;
    transition: .5s ease-in-out;
    font-weight: 700;
}

.loadingText span::after {
    content: 'Arranging DOM Elements';
    display: inline-block;
    animation-name: letterAnimation;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    font-weight: 600;
}

@keyframes letterAnimation {
    0% {
        content: 'Arranging DOM Elements';
        opacity: 0;
        transform: translateY(-50%);
    }

    10% {
        content: 'Arranging DOM Elements';
        opacity: 1;
        transform: translateY(0);
    }

    20% {
        content: 'Arranging DOM Elements';
        opacity: 0;
        transform: translateY(50%);
    }

    30% {
        content: "Fetching Aaryan's Memoirs";
        opacity: 0;
        transform: translateY(-50%);
    }

    40% {
        content: "Fetching Aaryan's Memoirs";
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        content: "Fetching Aaryan's Memoirs";
        opacity: 0;
        transform: translateY(50%);
    }

    60% {
        content: 'Stacking all items in order';
        opacity: 0;
        transform: translateY(-50%);
    }

    70% {
        content: 'Stacking all items in order';
        opacity: 1;
        transform: translateY(0);
    }

    80% {
        content: 'Stacking all items in order';
        opacity: 0;
        transform: translateY(50%);
    }

    90% {
        content: 'Arranging DOM Elements';
        opacity: 0;
        transform: translateY(-50%);
    }

    100% {
        content: 'Arranging DOM Elements';
        opacity: 0;
        transform: translateY(-50%);
    }
}

.menuIconAnimate {
    animation: flicker 2s ease-in-out infinite;
    color: #1677ff !important;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ant-switch .ant-switch-inner .ant-switch-inner-checked {
    margin-top: 2px;
}

.ant-pagination .ant-pagination-item-active {
    background-color: transparent;
}

.ant-pagination .ant-pagination-item a {
    color: #1677FF;
}

.ant-pagination .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
    color: #1677FF40;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: transparent;
    color: #1677FF;
    border: 1px solid #95c1ff;
}

.ant-pagination .ant-pagination-disabled .ant-pagination-item-link {
    color: #1677FF40;
}

.ant-pagination .anticon svg {
    color: #1677FF;
}

.ant-pagination .ant-pagination-options {
    display: none;
}

.atMark{
    color: red;
}

@media (min-width: 301px) and (max-width: 567px) {
    .heading {
        font-family: 'Dancing Script', cursive;
    }

    .logo {
        font-family: 'Dancing Script', cursive;
        font-size: 15px;
    }

    .ant-tour {
        max-width: 250px;
    }
}